

.img{
    background: linear-gradient(to right ,black 50%, transparent 0%),url('back.jpg') ;
  
    width: 100%;
    height: 800px; 
    box-sizing: border-box;
    background-size: cover;
}
